<div class="row">
  <div class="col-lg-9 col-12">
    <ul>
      <h1 class="heading">Todo List</h1>
      <input
        *ngIf="add"
        class="newTodo form-control"
        [(ngModel)]="newTodo"
        placeholder="Start typing"
      />
      <li
        style="
          padding: 1.5rem 0px;
          border-left: none;
          border-top: none;
          border-right: none;
        "
        *ngFor="let todo of todoList"
        class="list-group-item"
      >
        <div class="row custom-checkbox">
          <div class="form-group">
            <input type="checkbox" name="week" id="ux" />
            <label for="ux"><span>&#10003;</span></label>
          </div>
        </div>
        <!-- <button
          (click)="deleteTodo(todo.id)"
          class="btn btn-danger btn-sm mx-1"
        >
          Delete
        </button>
        <button (click)="updateTodo(todo)" class="btn btn-primary btn-sm mx-1">
          Update
        </button> -->
        {{ todo.title }}
      </li>
    </ul>
  </div>
  <div class="col-lg-3">
    <button type="button" (click)="onAdd()" class="btn btn-primary addButton">
      +
    </button>
  </div>
</div>
